@using Omu.AwesomeMvc;
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Select excel document</h2>

		<form action="" method="post" enctype="multipart/form-data">

			<label for="file">Filename:</label>
			<input type="file" name="file" id="file" />

			<input type="submit" />
		</form>
    </div>

    <div class="col-md-8">
        <h2>Click on office id office to see managers</h2>
		@(Html.Awe().Grid("OfficesGrid")
		.Groupable(true)
		.Resizable(true)
		.Url(Url.Action("GetOfficesForGrid", "Home"))
		.Columns(
				new Column { ClientFormat = "<div class='detailbtn'><i class='ui-icon ui-icon-triangle-1-e awe-il'></i> .Id</div>", Width = 100, Header = "Id" },
				new Column { Bind = "Name" })
		.Nests(new Nest
		{
			ButtonClass = "detailbtn",
			Url = Url.Action("ManagerGrid", "Home"),
			LoadOnce = true
		}))


		<style>
			.detailbtn {
				vertical-align: middle;
				border: none;
				background-color: transparent;
				outline: none;
				cursor: pointer;
				margin-left: -5px;
				padding-left: 5px;
			}

				.detailbtn .ui-icon {
					vertical-align: middle;
				}

				.detailbtn.awe-on i {
					background-position: -48px -16px;
				}
		</style>
    </div>
</div>